{% extends "base/base.html" %}

{% block title %}INDEX VIEW{% endblock title %}

{% block content %}

{% if request.user.is_authenticated %}
    <h3>Bienvenido a PleSem System user: "{{ request.user }}"</h3>
<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>USER</th>
        <th>TIMESTAMP</th>
        <th></th>
        <th>ACTIONS</th>
        <th></th>
    </thead>
    <tbody>
        {% for gg in grantgoals %}
            <tr>
                <td>{{ gg.id }}</td>
                <td>{{ gg.ggname }}</td>
                <td>{{ gg.user }}</td>
                <td>{{ gg.timestamp }}</td>
                <td><a href="{% url 'core:detail_gg' gg.pk %}" class="btn btn-outline-info">Detail</a></td>
                <td><a href="" class="btn btn-outline-warning">Update</a></td>
                <td><a href="" class="btn btn-outline-danger">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<hr>
    <form action="" method="post">
        {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary form-control">LogIn</button>
            <a href="{% url 'home:index' %}" class="btn btn-warning form-control">Cancel</a>
    </form>
    <hr>
    Si no tienes una cuenta,<a href="{% url  'home:signup' %}">registrate aqui!</a>
{% endif %}
{% endblock content %}