{% extends "base/base.html" %}

{% block title %}DETAIL SUBGRANT GOAL VIEW{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          General Data
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          This is the grantgoal name: <strong>{{ object.sggname }}</strong> It is the description: {{ object.description }}, and its progress is: <code>{{ object.progress }} %</code>
          Related grantgoal: <code>{{ object.grantgoal }} </code>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Date Data
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          This is the grantgoal timestamp.<strong>{{ object.timestamp }}</strong> It is the days duration to the grantgoal: {{ object.days_duration }}, and its final data is: <code>{{ object.final_date }}</code>.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Status Data
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          This is the grantgoal state: <strong>{{ object.state }}</strong> and  It is the grantgoal status: {{ object.status }} and it is the grantgoal priority:  <code>{{ object.priority }}</code>.
        </div>
      </div>
    </div>
  </div>
  <a href="{% url 'core:list_sgg' %}">Return</a>
{% endblock content %}